# Ambientes Virtuais do Python
venv/
.venv/
env/

# Caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE / Sistema
.vscode/
.idea/
.DS_Store

# Variáveis de ambiente sensíveis (senhas, chaves)
.env
!.env.example

# Logs e arquivos gerados nos testes
*.log
saida_*.jpg
saida_*.png

#Server
node_modules
